.root {
    -fx-background-color: #30c8ed; /* Color de fondo */
}

.menu-bar {
    -fx-background-color: #3498db; /* Color de fondo del menú */
    -fx-text-fill: white; /* Color del texto del menú */
}

.menu-item {
    -fx-background-color: #2980b9; /* Color de fondo de los elementos del menú */
    -fx-text-fill: white; /* Color del texto del menú */
}

.menu-item:selected {
    -fx-text-fill: #f39c12; /* Cambio de color cuando el elemento está seleccionado */
}

.tab-pane {
    -fx-background-color: #17b9ff; /* Color de fondo de las pestañas */
}

.table-view {
    -fx-background-color: #2af705; /* Color de fondo de las tablas */
}

/* Estilos para los colores de texto */
.label {
    -fx-text-fill: #2c3e50; /* Color de texto normal */
}

.label-title {
    -fx-text-fill: #e74c3c; /* Color de texto para títulos */
}

.root {
    -fx-font-family: 'Arial';
    -fx-font-size: 14pt;
}

.label {
    -fx-font-weight: bold;
}

.text-field, .combo-box {
    -fx-font-size: 14pt;
    -fx-padding: 10px;
}

.button {
    -fx-font-size: 14pt;
    -fx-background-color: #0073e6;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-background-radius: 10;
}

.button:hover {
    -fx-background-color: #005bb5;
}

.grid-pane {
    -fx-background-color: #f4f4f4;
    -fx-padding: 20px;
    -fx-border-color: #c3c3c3;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}